.imgImput{
    display:none
}

.labelimgUser{
    width: 100%;
    height: 230px;
    border-radius: 7px;
    border:1px dashed #999
}

.labelimgUser:hover{
    color: blueviolet;
    border:1px dashed #0400e6
}

.buttonImgUser{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;

}

.marginLabels{
    margin:8px
}


.contenedorMultimedia{
    display: flex;
}

.contenedorMultimedia-hijo{
    width: 50%; height: 300px;
}

.contenedorMultimedia-formulario{
    padding: 20px; 
    width: 50%;
}

.backgroundVistaPrevia{
    background-size: 100% 100%;width: 50%; height: 300px;
}


@media only screen and (max-width: 768px) {

    .contenedorMultimedia{
        display: block;
    }
  
    .contenedorMultimedia-hijo{
        width: 100%;
    }
    .contenedorMultimedia-formulario{
        width: 100%;
    }
    .backgroundVistaPrevia{
        width: 100%; 
    }
}